<h1>Mentions#index</h1>
<p>Find me in app/views/mentions/index.html.erb</p>


<table>
  <tr>
    <th>発言</th>
  </tr>
  <% @mentions.each  do |mention| %>
  <tr>
    <td><%= mention.content %></td>
    <td><%= link_to "編集する", edit_mention_path(mention.id) %></td>
  </tr>
  <% end %>
</table>